*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
sdk/build/intermediates/javac/debug/classes/org/opencv/videoio/VideoWriter.class
sdk/build/intermediates/javac/debug/classes/org/opencv/videoio/Videoio.class
sdk/build/intermediates/javac/debug/classes/org/opencv/videoio/VideoCapture.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/Video.class
sdk/build/intermediates/packaged_res/debug/values/values.xml
sdk/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
sdk/build/intermediates/javac/debug/classes/org/opencv/android/Utils.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/TrainData.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/TonemapReinhard.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/TonemapMantiuk.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/TonemapDrago.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/Tonemap.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/TickMeter.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/TermCriteria.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/SVMSGD.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/SVM.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/Subdiv2D.class
sdk/build/intermediates/javac/debug/classes/org/opencv/calib3d/StereoSGBM.class
sdk/build/intermediates/javac/debug/classes/org/opencv/calib3d/StereoMatcher.class
sdk/build/intermediates/javac/debug/classes/org/opencv/calib3d/StereoBM.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/StatModel.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/StaticHelper.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/SparsePyrLKOpticalFlow.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/SparseOpticalFlow.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Size.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/SimpleBlobDetector.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Scalar.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/RTrees.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/RotatedRect.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Rect2d.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Rect.class
sdk/build/intermediates/local_only_symbol_list/debug/R-def.txt
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Range.class
sdk/build/intermediates/compile_symbol_list/debug/R.txt
sdk/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
sdk/build/intermediates/javac/debug/classes/org/opencv/objdetect/QRCodeDetector.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Point3.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Point.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/Photo.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/Params.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/ParamGrid.class
sdk/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
sdk/build/intermediates/merged_manifests/debug/output.json
sdk/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/ORB.class
sdk/build/intermediates/javac/debug/classes/org/opencv/osgi/OpenCVNativeLoader.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/OpenCVLoader.class
sdk/build/intermediates/javac/debug/classes/org/opencv/osgi/OpenCVInterface.class
sdk/build/generated/aidl_source_output_dir/debug/out/org/opencv/engine/OpenCVEngineInterface.java
sdk/build/intermediates/javac/debug/classes/org/opencv/engine/OpenCVEngineInterface.class
sdk/build/intermediates/javac/debug/classes/org/opencv/engine/OpenCVEngineInterface$Stub.class
sdk/build/intermediates/javac/debug/classes/org/opencv/engine/OpenCVEngineInterface$Stub$Proxy.class
sdk/build/intermediates/javac/debug/classes/org/opencv/engine/OpenCVEngineInterface$Default.class
sdk/build/intermediates/javac/debug/classes/org/opencv/objdetect/Objdetect.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/NormalBayesClassifier.class
sdk/build/intermediates/javac/debug/classes/org/opencv/dnn/Net.class
sdk/build/intermediates/navigation_json/debug/navigation.json
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/MSER.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/Moments.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/Ml.class
sdk/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/MergeRobertson.class
sdk/build/intermediates/incremental/packageDebugResources/merger.xml
sdk/build/intermediates/incremental/packageDebugAssets/merger.xml
sdk/build/intermediates/incremental/mergeDebugShaders/merger.xml
sdk/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/MergeMertens.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/MergeExposures.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/MergeDebevec.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfRotatedRect.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfRect2d.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfRect.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfPoint3f.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfPoint3.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfPoint2f.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfPoint.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfKeyPoint.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfInt4.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfInt.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfFloat6.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfFloat4.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfFloat.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfDouble.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfDMatch.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/MatOfByte.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Mat.class
sdk/build/outputs/logs/manifest-merger-debug-report.txt
sdk/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/LogisticRegression.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/LoaderCallbackInterface.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/LineSegmentDetector.class
sdk/build/intermediates/stripped_native_libs/debug/out/lib/x86_64/libopencv_java3.so
sdk/build/intermediates/stripped_native_libs/debug/out/lib/x86/libopencv_java3.so
sdk/build/intermediates/stripped_native_libs/debug/out/lib/mips64/libopencv_java3.so
sdk/build/intermediates/stripped_native_libs/debug/out/lib/mips/libopencv_java3.so
sdk/build/intermediates/stripped_native_libs/debug/out/lib/armeabi-v7a/libopencv_java3.so
sdk/build/intermediates/stripped_native_libs/debug/out/lib/armeabi/libopencv_java3.so
sdk/build/intermediates/stripped_native_libs/debug/out/lib/arm64-v8a/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/x86_64/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/x86/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/mips64/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/mips/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/armeabi-v7a/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/armeabi/libopencv_java3.so
sdk/build/intermediates/merged_native_libs/debug/out/lib/arm64-v8a/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/x86_64/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/x86/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/mips64/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/mips/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/armeabi-v7a/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/armeabi/libopencv_java3.so
sdk/build/intermediates/merged_jni_libs/debug/out/arm64-v8a/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/x86_64/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/x86/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/mips64/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/mips/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/armeabi-v7a/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/armeabi/libopencv_java3.so
sdk/build/intermediates/library_jni/debug/jni/arm64-v8a/libopencv_java3.so
sdk/build/intermediates/javac/debug/classes/org/opencv/dnn/Layer.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/KNearest.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/KeyPoint.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/KAZE.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/KalmanFilter.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCameraView.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCameraView$JavaCameraSizeAccessor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCameraView$JavaCameraFrame.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCameraView$CameraWorker.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCameraView$1.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCamera2View.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCamera2View$JavaCameraSizeAccessor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCamera2View$JavaCamera2Frame.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCamera2View$3.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCamera2View$2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/JavaCamera2View$1.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/InstallCallbackInterface.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/Imgproc.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgcodecs/Imgcodecs.class
sdk/build/intermediates/javac/debug/classes/org/opencv/objdetect/HOGDescriptor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/GFTTDetector.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/GeneralizedHoughGuil.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/GeneralizedHoughBallard.class
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/GeneralizedHough.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/FpsMeter.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/FlannBasedMatcher.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/Features2d.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/FeatureDetector.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/Feature2D.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/FastFeatureDetector.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/FarnebackOpticalFlow.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/EM.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/DualTVL1OpticalFlow.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/DTrees.class
sdk/build/intermediates/javac/debug/classes/org/opencv/dnn/Dnn.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/DMatch.class
sdk/build/intermediates/javac/debug/classes/org/opencv/dnn/DictValue.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/DescriptorMatcher.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/DescriptorExtractor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/DenseOpticalFlow.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/CvType.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/CvException.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Core.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Core$MinMaxLocResult.class
sdk/build/intermediates/javac/debug/classes/org/opencv/utils/Converters.class
sdk/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
sdk/build/intermediates/runtime_library_classes_jar/debug/classes.jar
sdk/build/intermediates/compile_library_classes_jar/debug/classes.jar
sdk/build/.transforms/31b87c31e98a98c930247654fb1b68e2/classes/classes.dex
sdk/build/intermediates/javac/debug/classes/org/opencv/imgproc/CLAHE.class
sdk/build/intermediates/javac/debug/classes/org/opencv/objdetect/CascadeClassifier.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraRenderer.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraGLSurfaceView.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraGLSurfaceView$CameraTextureListener.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraGLRendererBase.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase$ListItemAccessor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase$CvCameraViewListenerAdapter.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase$CvCameraViewListener2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase$CvCameraViewListener.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase$CvCameraViewFrame.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/CameraBridgeViewBase$1.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/Camera2Renderer.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/Camera2Renderer$2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/Camera2Renderer$1.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/CalibrateRobertson.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/CalibrateDebevec.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/CalibrateCRF.class
sdk/build/intermediates/javac/debug/classes/org/opencv/calib3d/Calib3d.class
sdk/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
sdk/build/intermediates/javac/debug/classes/org/opencv/BuildConfig.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/BRISK.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/BOWTrainer.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/BOWKMeansTrainer.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/BOWImgDescriptorExtractor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/Boost.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/BFMatcher.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$7.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$6.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$5.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$4.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$3.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/BaseLoaderCallback$1.class
sdk/build/intermediates/javac/debug/classes/org/opencv/objdetect/BaseCascadeClassifier.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/BackgroundSubtractorMOG2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/BackgroundSubtractorKNN.class
sdk/build/intermediates/javac/debug/classes/org/opencv/video/BackgroundSubtractor.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/AsyncServiceHelper.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/AsyncServiceHelper$3.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/AsyncServiceHelper$3$2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/AsyncServiceHelper$3$1.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/AsyncServiceHelper$2.class
sdk/build/intermediates/javac/debug/classes/org/opencv/android/AsyncServiceHelper$1.class
sdk/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/ANN_MLP_ANNEAL.class
sdk/build/intermediates/javac/debug/classes/org/opencv/ml/ANN_MLP.class
sdk/build/intermediates/library_manifest/debug/AndroidManifest.xml
sdk/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/AlignMTB.class
sdk/build/intermediates/javac/debug/classes/org/opencv/photo/AlignExposures.class
sdk/build/intermediates/javac/debug/classes/org/opencv/core/Algorithm.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/AKAZE.class
sdk/build/intermediates/javac/debug/classes/org/opencv/features2d/AgastFeatureDetector.class
sdk/build/.transforms/31b87c31e98a98c930247654fb1b68e2.bin
